:root {
  --base-spacing-unit: 24px;
  --half-spacing-unit: var(--base-spacing-unit) / 2;

  --color-alpha: #1772ff;
  --color-form-highlight: #eeeeee;
}

nav {
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: space-between;
}
.table-container {
  width: 80%;
  margin: 20px auto;
}
/* table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */
table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-spacing: 0.5rem;
  border-collapse: collapse;
}
th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid #999;
  padding: 0.5rem;
}
